<h1>Editing Admin Event</h1>

<%= form_with(model: [:admin, @event], local: true) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, 'error') %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Title' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label 'Location' %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label 'Link' %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label 'Description' %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label 'Start' %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label 'End' %>
    <%= form.datetime_select :end %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', admin_event_path(@event) %> |
<%= link_to 'Back', admin_events_path %>
