<%- title "Articles" %>

<div class="articles-index">
  <div class="categories">
    <div class="wrapper">
      <div class="list">
        <a href="/">Home</a>
        <a class="active" href="/articles">Articles</a>
        <a href="/datasets">Datasets</a>
        <a href="/events">Events</a>
        <a href="/papers">Papers</a>
        <a href="/projects">Projects</a>
      </div>
    </div>  
  </div>

  <div class="showcase">
    <div class="wrapper">
      <div class="primary">
        <div class="feature">
          <img src="https://source.unsplash.com/600x300">
          <div class="content">
            <h2 class="title"><%= Faker::Lorem.sentence %></h2>
            <p class="description"><%= Faker::Lorem.paragraph %></p>
          </div>
        </div>

        <div class="grid">
          <% if @articles.empty? %>
            <p class="message">Nothing to see here.</p>
          <% else %>
            <% @articles.each do |article| %>
              <a class="item" href="<%= article_path(article.slug) %>">
                <h2 class="title"><%= article.title %></h2>
              </a>
            <% end %>
            <%= paginate @articles %>
          <% end %>
        </div>
      </div>

      <div class="secondary"></div>
    </div>
  </div>
</div>