<h1>Papers</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.title %></td>
        <td><%= link_to 'Show', admin_paper_path(paper) %></td>
        <td><%= link_to 'Edit', edit_admin_paper_path(paper) %></td>
        <td><%= link_to 'Destroy', admin_paper_path(paper), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Paper', new_admin_paper_path %>
