<%- title @event.title %>

<div class="event-show">
  <div class="wrapper">
    <h1 class="title"><%= @event.title %></h1>
    
    <div class="meta">
      <p class="link">Link: <%= link_to @event.link, @event.link %></p>
      <p class="start">Start: <%= @event.start.strftime '%a %b %e %I:%M %p' %></p>
      <p class="end">End: <%= @event.end.strftime '%a %b %e %I:%M %p' %></p>
    </div>

    <p class="description"><%= @event.description %></p>
  </div>
</div>