<div class="event-show">
  <div class="wrapper">
    <h1 class="title"><%= @event.title %></h1>
    
    <div class="meta">
      <p class="link">Link: <%= @event.link %></p>
      <p class="start">Start: <%= @event.start %></p>
      <p class="end">End: <%= @event.end %></p>  
    </div>

    <p class="description"><%= @event.description %></p>
  </div>
</div>