<section class="filters">
  <div class="wrapper">
    <div class="list">
      <a href="/">All <i class="fa fa-caret-down"></i></a>
      <% @categories.each do |category| %>
        <%= link_to category.title, category %>
      <% end %>
    </div>
  </div>
</section>

<div class="wrapper">
  
  <div class="showcase">
    <div class="primary">
      <div class="articles">
        <a class="item featured" href="#">
          <h2 class="title"><%= Faker::Lorem.sentence %></h2>
          <p class="description"><%= Faker::Lorem.paragraphs(3).join(' ') %></p>
        </a>

        <% @articles.first(4).each_with_index do |article, i| %>
          <a class="item" href="<%= article_path(article.id) %>">
            <h2 class="title"><%= Faker::Lorem.sentence %></h2>
            <p class="description"><%= Faker::Lorem.paragraphs(5).join(' ') %></p>
          </a>
        <% end %>
      </div>
    </div>

    <div class="secondary">
      <h3 class="heading">Events</h3>
      <div class="latest">
        <div class="events">
          <% @events.first(10).each do |project| %>
            <a class="item" href="<%= event_path(event.id) %>">
              <time class="timestamp"><%= event.schedule %></time>
              <h3 class="title"><%= event.title %></h3>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
