<%- title "Home" %>

<div class="home">
<!--   <div class="categories">
    <div class="wrapper">
      <div class="list">
        <a href="/" class="active">All</a>
        <% @categories.each do |category| %>
          <%= link_to category.title, category %>
        <% end %>
      </div>
    </div>
  </div> -->

  <div class="categories">
    <div class="wrapper">
      <div class="list">
        <a class="active" href="#">Home</a>
        <a href="#">Articles</a>
        <a href="#">Datasets</a>
        <a href="#">Events</a>
        <a href="#">Papers</a>
        <a href="#">Projects</a>
      </div>
    </div>  
  </div>

  <div class="showcase">
    <div class="wrapper">
      <div class="primary">
        <div class="papers">
          <% @papers.each do |paper| %>
            <a class="item" href="<%= paper_path(paper.slug) %>">
              <h2 class="title"><%= paper.title %> (<%= paper.publish_date.strftime('%Y') %>)</h2>
              <p class="description"><%= paper.abstract.truncate(300, separator: ' ') %></p>

              <div class="meta">
                <span><i class="far fa-clock"></i> <%= paper.created_at.strftime('%b %d') %></span>
                <span><i class="far fa-folder"></i> <%= paper.category.title %></span>
              </div>
            </a>
          <% end %>
          <%= paginate @papers %>
        </div>
      </div>

      <div class="secondary">
        <div class="feed">
          <a class="heading" href="https://algonomicon.io">Feed</a>
          <% @posts.first(5).each do |post| %>
            <div class="post">
              <div class="avatar">
                <img src="<%= post['account']['avatar'] %>">
              </div>
              <div class="main">
                <span class="username">@<%= post['account']['username'] %></span>
                <div class="content"><%= raw(post['content']) %></div>
                <p class="date"><%= time_ago_in_words(post['created_at']) %> ago</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
