<div class="paper-show">
  <div class="wrapper">
    <h1 class="title"><%= @paper.title %> (<%= @paper.publish_date.strftime('%Y') %>)</h1>

    <div class="meta">
      <p class="authors">Authors: <%= @paper.authors %></p>
      <p class="source">Source: <%= @paper.source %></p>
    
      <% if @paper.implementation %>
        <p class="implementation">Implementation: <%= @paper.implementation %></p>
      <% end %>
    </div>

    <p class="abstract"><%= @paper.abstract %></p>
  </div>
</div>