<!DOCTYPE html>
<html>
  <head>
    <title>Algonomicon <%= @title ? ' | ' + @title : '' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>

  <body class="admin">
    <div class="notice">
      <p><%= flash[:notice] %></p>
    </div>

    <header>
      <div class="wrapper">
        <div class="masthead">
          <div class="logo">
            <a href="/" class="glitch"><%= render "partials/logo" %></a>
          </div>
          <nav>
            <%= link_to "Logout", :logout, method: :delete %>
          </nav>
        </div>
      </div>
    </header>

    <aside class="sidebar">
      <%= link_to 'Articles', admin_articles_path %>
      <%= link_to 'Datasets', admin_datasets_path %>
      <%= link_to 'Events',   admin_events_path %>
      <%= link_to 'Papers',   admin_papers_path %>
      <%= link_to 'Projects', admin_projects_path %>
      <%= link_to 'Users',    admin_users_path %>
    </aside>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
