<!DOCTYPE html>
<html>
  <head>
    <title>Algonomicon <%= @title ? ' | ' + @title : '' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>

  <body>
    <div class="notice">
      <div class="wrapper">
        <p><%= flash[:notice] %></p>
      </div>
    </div>

    <header>
      <div class="wrapper">
        <div class="masthead">
          <div class="logo">
            <a href="/" class="glitch"><%= render "partials/logo" %></a>
          </div>
          <nav>
            <a href="#">About</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
            <a href="#">Projects</a>
            <%= link_to "Login", :login %>
            <%= link_to "Logout", :logout, method: :delete %>
          </nav>
        </div>

        <div class="intro">
          <h2 class="tagline">Data Projects for <strong class="typed">Humanity</strong></h2>
          <h1 class="title">The New Scientific Method</h1>
          <div class="search">
            <div class="input-group">
              <span class="input-icon"><i class="fa fa-search"></i></span>
              <input type="text" class="search-input" placeholder="Data Science, Machine Learning, and More...">
            </div>
            <a href="/search" class="search-button">Search</a>
          </div>
        </div>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="wrapper"></div>
    </footer>
  </body>
</html>
